<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stylens-demo-share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>stylens-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97D2ACB51FF50F4A00CBE1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D2ACCD1FF50F4A00CBE1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D2ACD81FF50F4A00CBE1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D2ADAD1FF5176100CBE1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
